.itemlist {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    width: 50vw;
    color: white;
    /* font-size: 20px; */
    font-weight: 500;
}

.itemimage {
    border-radius: 50%;
}

.iteminfo {
    font-size: 20px;
    font-weight: 500;
}

.font{
    font-weight: bold;
}

.delete {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.delete:hover {
    transform: scale(1.1) rotate(120deg);
    transition: all 0.7s ease-in-out;
    color: red !important;
}


.container {
    display: flex;
    min-height: 80vh;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("../public/img/background2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

.left {
    margin-left: 5vw;
    margin-right: 10vw;
    /* flex: 2; */
}

.right {
    /* background-color: rgb(99, 88, 73); */
    background-color: #c8c87f;
    height: 45vh;
    min-width: 20%;
    margin: 5vh;
    color: black;
    flex: 1;
    border-radius: 6px;
    opacity: 0.9;

}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div {
    display: flex;
}

.key {
    font-weight: 900;
    margin-right: 50px;
}



.total {
    font-weight: 900;
    margin-right: 75px;
}

.proceed {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: #AEA272;
    border: none;
    width: 85%;
    height: 7vh;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 6px;
    text-transform: inherit;
    letter-spacing: 0.2px;
    transition: all 0.2s ease;
}

.proceed:hover{
    background-color: #099709;
    color:white;
    transition: all 0.2s ease;
}


@media (min-width:320px) and (max-width:500px) {

    .itemlist {
        width: 83vw;
    }

    .iteminfo {
        margin: 0 8px;
        font-size: 12px;
    }

    .delete {
        transform: scale(1.1)
    }

    .right {
       
        height: 45vh;
        width: 47%;
    }

    .proceed {
        width: 50%;
    }

}

@media (min-width:500px) and (max-width:900px) {

    .itemlist {
        width: 82vw;
    }

    .right {
        flex: 0.5;
        height: 45vh;
    }
}