@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css'); */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

li {
    list-style: none;
}

.my-1{

    margin: 1vh 0;
}

.my-2 {
    margin: 2vh 0;
}

.my-3 {
    margin: 3vh 0;
}

.my-4 {
    margin: 4vh 0;
}

.mx-1 {
    margin: 0vh 1vw;
}
.mx-2 {
    margin: 0vh 2vw;
}

.mx-3 {
    margin: 0vh 3vw;
}

.mx-4 {
    margin: 0vh 4vw;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.loader{
    position: absolute;
    left: 50%;
    top: 50%;

}

.blur{
    position: fixed;
    height: 80vh;
    width: 100vw;
    background-color: rgb(249, 236, 236);
    z-index: 200;
    opacity: 0.4;
   
}

.minus{
    cursor: pointer;
}