.container {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../public/img/background4.jpeg");
    background-repeat: no-repeat;
    background-position: center;

}

.left {
    flex: 2;
    /* background-color: #d0d095; */
    padding: 10vh 1vw;
}

.status {
    margin: 15vh 2vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;

}

.done {
    opacity: 1;
}

.pending {
    opacity: 0.3;
}

.animate {
    font-weight: bold;
    animation: hollow 0.9s ease-in-out infinite alternate;
}

@keyframes hollow {
    0% {
        opacity: 0.5;

    }

    100% {

        opacity: 1;
    }
}


.head {
    margin: 10vw 5vw;
    font-weight: bold;
    font-size: 20px
}

.row {
    margin: 5vh 5vw;

}


.mid {
    flex: 0.5;
    font-size: 20px;
    background-color: #d0d095;
    padding-top: 6.3vh;
    padding-left: 1vh;
    display: block;

}

.amount {
    margin-top: -2vh;
    font-weight: bold;
}

.address {
    display: flex;
    justify-content: space-around;
    margin: 2vh 0;
    font-weight: bold;
    font-size: 13px;
}

.order {
    margin-left: -10px;
}

.addressInfo {
    display: flex;
    justify-content: space-around;
    margin: 2vh 0;
}

.right {
    /* background-color: rgb(99, 88, 73); */
    flex: 1;
    background-color: #bbbb6f;
    height: 44vh;
    min-width: 20%;
    margin: 5vh;
    color: black;
    opacity: 0.9;

}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div {
    display: flex;
}

.key {
    font-weight: 900;
    margin-right: 50px;
}



.total {
    font-weight: 900;
    margin-right: 75px;
}

.proceed {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: rgb(90, 145, 71);
    border: none;
    width: 18vw;
    height: 7vh;
    cursor: not-allowed;
    border-radius: 2px;
}

@media (min-width:320px) and (max-width:460px) {
    .container {
        overflow: hidden;
        height: 114vh;
    }

    .left {
        font-size: 11px;
        height: 54vh;
        padding: 10vh 0vw;
        margin: 0 -5vw;
    }

    .mid {
        display: none;
    }

    .right {
        height: 42vh;
        margin: -26vh 5vh;
    }

    .proceed {
        width: 50vw;
    }

    .head {
        font-size: 13px;
    }

    .address {
        display: flex;
        justify-content: space-around;
        margin: 2vh 0;
        font-size: 11px;
        height: 5vh;
        overflow-y: scroll;
        word-wrap: break-word;
    }

    .row {
        display: inline-block;
        width: 36%;
        overflow: hidden;
    }

    .status {
        margin: 7vh 2vw;
    }
}


@media (min-width:461px) and (max-width:950px) {

    .head {
        font-size: 13px;
    }

    .row {
        display: inline-block;
        width: 36%;
        overflow: hidden;
        font-size: 11px;
    }

    .address {
        height: 5vh;
        overflow-y: scroll;
        word-wrap: break-word;
    }

    .left {
        color: black;
        font-weight: bold;
    }

    .right {
        min-width: 33%;
        height: 42vh;
    }

    .mid {
        display: none;
    }

    .proceed {
        width: 40vw;
    }

}