.stripe {
    height: 74vh;
    width: 40%;
    position: absolute;
    top: 20%;
    background-color: #847682;
    left: 25%;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    /* position: relative; */


}

.cross {
    position: absolute;
    right: 3%;
    top: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.cross:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.userdetails {
    width: 100%;
}

.input {
    width: 100%;
    height: 4vh;
    padding: 16px 16px;
    border: 1px solid rgb(208, 207, 118);
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 9px;

}


.input:focus {
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.textarea {
    height: 8vh;
    width: 113%;
    margin-left: -15px;
    padding: 16px 16px;
    border: 1px solid rgb(208, 207, 118);
    outline: none;
    transition: all 0.3s ease-in-out;
    border-radius: 9px;


}

.textarea:focus {
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.form {
    width: 80%;
    margin: auto;
    margin-top: 1vh;
}

.card {
    border-bottom: 1px solid;
    padding: 10px;
}

.pay {
    width: 35%;
    margin: 3vh 0;
    padding: 5px;
    font-size: 15px;
    background-color: rgb(39, 181, 39);
    border: 1px solid rgb(21, 185, 21);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 4vh;
    transition: all 0.3s ease-in-out;
}

.pay:hover {
    transform: translateY(0.3px) scale(1.01);
    transition: all 0.3s ease-in-out;

}

.OR {
    background-color: rgb(221, 225, 202);
    width: 8%;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
    top: -8%;
}


.div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh
}

.cod {
    width: 45%;
    margin: 1vh 3vw;
    padding: 5px;
    font-size: 15px;
    background-color: #cead2a;
    border: 1px solid rgb(21, 185, 21);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    height: 5vh;
}

@media (min-width:320px) and (max-width:460px) {
    .stripe {
        width: 90%;
        left: 5%;
        height: 74vh;

    }

    .cod {
        width: 56%;
    }
}


@media (min-width:461px) and (max-width:1020px) {

    .stripe {
        width: 60%;
         left: 20%;
       height: 74vh;

    }
    .cod {
        width: 50%;
        font-size: 14px;
        padding: 4px;
    }

}